/* ------------------------------------
 * ProwerV5 For Typecho
 *
 * @author	Noisky＆XiaZhanJian
 * @link	https://xiazhanjian.com
 * @update	2017-11-30
 * @原作者  摄氏度
 * --------------------------------- */
body,h1,h2,h3,p,blockquote,dl,dt,dd,ul,ol,li,button,input,textarea {margin: 0; padding: 0;}
header,footer,article,section,nav,menu,hgroup {display:block;}
body {font-family:"Microsoft Yahei",Tahoma, Helvetica, Arial, "SimSun", sans-serif; line-height:1.6; background:#1a1a1a url(images/bg.png) repeat;}
h1,h2,h3 {font-weight:400;}
h1 {font-size:30px;} 
h2 {font-size:20px;}
h3 {font-size:14px;}
img {border:none;}
a img:hover {background:none; border:none;}
a {color:#07b; text-decoration:none;}
a:hover {text-decoration:underline;}
ol,ul {list-style:none;}
p {margin-bottom:20px;}
hr {margin-top:20px; margin-bottom:20px; border:0; border-top:1px dashed #bbb;}
input,textarea,button {outline:none;}
input[type^="text"],input[type^="password"],textarea {box-shadow:inset 2px 3px 5px #eee; border:1px solid #bbb; background:#fafafa;}
input:focus,textarea:focus {background:#fff; border-color:#999;}
input {vertical-align:middle;}
input[type^="radio"] {border:none; background:none; width:auto;}
::selection {color:#fff; background:#444; text-shadow:none;}
#wrap{background:#fcfbf7 url(images/mainbg.jpg) repeat; border-radius:8px; box-shadow:0 0 10px rgba(0,0,0,1),0 4px 0 rgba(255,255,255,.8),0 5px 0 rgba(100,100,100,.4),0 8px 0 rgba(255,255,255,0.4),inset 0 0 1px rgba(255,255,255,1); width:800px; margin:30px auto; padding:40px 50px;}
#content {overflow:hidden; color:#555; text-shadow:1px 1px #fff; margin-top:30px; margin-bottom:30px; clear:both;}
#header {text-align:center; color:#5d6673;}
#logo {margin:20px auto 10px;}
#logo a {color:#ddd;}
#header h2 {font-size:14px;}
#toolbar {height:24px; font-size:12px;}
#searchform {background:#fafafa; border:1px solid #ccc; border-radius:15px; box-shadow:inset 1px 1px 5px rgba(100,100,100,.3); padding:3px 5px; height:16px; float:right;}
#searchform label {display:none;}
#searchform input {border:none; background:none; box-shadow:none; width:150px; height:16px; line-height:16px; vertical-align:top;}
#searchform button {background:url(images/search.png) no-repeat; width:16px; height:16px; text-indent:-999px; vertical-align:top; border:none; cursor:pointer; margin-left:-5px; font-size:0;}
#searchform button:hover {background:url(images/search_hover.png) no-repeat;}
#rss {float:right; margin-left:8px; margin-top:4px;}
#rss a {background:url(images/rss.png) no-repeat; width:16px; height:16px; overflow:hidden;display:block; text-indent:-999px;}
#menu {float:left; font-size:16px; line-height:30px; height:28px; overflow:hidden;}
#menu li {float:left; margin-right:10px;}
#menu a {display:block; text-decoration:none; color:#999;}
#menu a:hover {color:#5f767f;}
#menu .current {color:#000; font-size:20px; line-height:22px;}
#menu li ul {display:none;}
code {font:14px/1.5 Consolas,"Andale Mono","DejaVu Sans Mono",monospace; border: 1px solid #ccc;border-radius: 5px;padding:2px 4px;color:#C13;  word-break:break-word;}
pre {max-width:100%; overflow:auto; padding:1em; margin-bottom:.5em; line-height:1.6; font-size:15px; border: 1px solid #ccc; border-radius: 5px;}
pre code {padding:0;border:0px;}
pre,code{background:#fafafa;}
#post_list section {border-bottom: 1px solid #dddddd; margin-bottom:20px;}
.post-title {font-size:24px;}
.post-meta {font-size:12px; margin-bottom:20px; color:#999; display:block;}
#post_content {padding-top:10px;}
.post,.page {font-size:16px;letter-spacing:1px;}
.page h1 {margin-bottom:20px;}
.post {margin-bottom:20px; border-bottom:1px dashed #bbb;}
.post ul,.post ol {list-style-position:inside; margin-left:20px; margin-bottom:15px;}
.post ul {list-style-type:disc;}
.post ol {list-style-type:decimal;}
.post input {height:22px; line-height:22px;}
blockquote {border:1px dashed #ccc; border-radius:5px; background:#fafafa; padding:10px; margin:10px 0; font-size:14px;}
blockquote p:last-child {margin-bottom:0;}
.post img {max-width: 100%; height: auto;}
.page-navigator {margin-top:20px; list-style:none; font-size:12px; height:30px; line-height:30px; clear:both;}
.page-navigator li {margin-right:5px; float:left; display:inline;}
.page-navigator li a {background:#fff; display:block; width:28px; text-align:center; border:1px solid #eee; text-decoration:none; color:#666;}
.page-navigator li a:hover,.page-navigator li.current a {background:#eee; border-color:#ddd; color:#444;}
.tags a {margin: 0px 5px;}
#nopage {text-align:center; padding:180px 0 100px; background:url(images/404.png) no-repeat center 70px;}
/* Comment */
#comments {margin-top:20px; word-break:break-all;}
#comments p {margin-bottom:15px;}
.comments_count {text-align:right; margin:10px 0; font-size:12px; color:#999;}
.comment-child {margin-left:15px; border-top:1px dashed #ddd; padding-top:15px;}
.comment-head {font-size:16px;}
.comment-head p{margin-left:0px !important;}
.comment-list li {border-bottom:1px solid #ddd; margin-bottom:20px; position:relative;}
.comment-list .comment-children li {border-bottom:none; margin-bottom:0;}
.comment-list li.comment-by-author {}
.comment-reply {position:absolute; top:0; right:0; font-size:12px; line-height:18px;}
.comment-child .comment-reply {top:15px;}
.comment-reply a {font-size:12px; border:none; color:#888;}
.comment-reply a:hover {color:#444;}
.comment-meta {float:right; color:#999; font-size:12px; margin-right:35px;}
.comment-meta a {color:#999;}
.comment-author {float:left; font-size:12px; height:20px;}
.comment-author cite.fn {font-style:normal;}
.comment-body {overflow:hidden;}
.comment-body p {margin-left:42px; clear:both;}
.comments_hr {border-bottom: 1px solid #dddddd;}
img.avatar {float:left; margin-right:10px;}
#comment_form {padding-right:10px;}
.respond li {border-bottom:none;}
.respond hr {border-top: 1px solid #dddddd;}
.respond .cancel-comment-reply {font-size:11px; margin-left: 5px;}
.respond .cancel-comment-reply a {color:#aaa;}
.respond .cancel-comment-reply a:hover {color:#444;}
#comment_form p {font-size:12px; margin:0 0 5px; clear:left;}
#comment_form label {font-size:12px; color:#555; display:block;}
#comment_form label .required {color:#C04E37; padding-left:5px;}
#comment_form textarea {font-size:14px; height:95px; line-height:24px; padding:3px 4px; width:100%; resize: vertical;}
#comment_form button {background: -webkit-gradient(linear, 0 0, 0 100%, from(#444), to(#333)); border: 1px solid #333; border-radius: 3px; color: #fff; font-size: 14px; cursor: pointer; text-shadow: 1px 1px #000; height: 32px; line-height: 32px; width: 25%; text-align: center; vertical-align: top;}
#comment_form button:hover {background:#222; border-color:#000;}
.login_meta {margin-bottom:10px;}
.login_meta li {float:none;}
.login_meta input {font-size: 14px; padding: 5px 0;}
input#author,input#mail,input#url {width: 31.5%; padding: 4px 4px;}
#footer {margin-bottom:30px; text-align:center; font-size:12px; color:#5d6673; text-shadow:-1px -1px #000;}
#footer a {color:#5d6673;}
/* 多屏幕适配 */
@media print, screen and (max-width:768px) {
#wrap {margin:0 auto;width:auto;padding: 30px 20px;}
#toolbar{display:none;}
.post img {max-width:100%; height:auto;}
.post {border:none; box-shadow:none; margin-bottom: 10px;}
#content{padding-top:30px;}
input#author,input#mail,input#url {width: 100%;margin-bottom: .8em;}
}
