
body,h1,h2,h3,p,blockquote,dl,dt,dd,ul,ol,li,button,input,textarea {margin: 0; padding: 0;}
header,footer,article,section,nav,menu,hgroup {display:block;}
body {font-family:"Microsoft Yahei",Tahoma, Helvetica, Arial, "SimSun", sans-serif; line-height:1.6; background:#1a1a1a url(images/bg.png) repeat;}
h1,h2,h3 {font-weight:400;}
h1 {font-size:30px;} 
h2 {font-size:20px;}
h3 {font-size:14px;}
img {border:none;}
a img:hover {background:none; border:none;}
a {color:#07b; text-decoration:none;}
a:hover {text-decoration:underline;}
ol,ul {list-style:none;}
p {margin-bottom:20px;}
hr {margin-top:20px; margin-bottom:20px; border:0; border-top:1px dashed #bbb;}
input,textarea,button {outline:none;}
input[type^="text"],input[type^="password"],textarea {box-shadow:inset 2px 3px 5px #eee; border:1px solid #bbb; background:#fafafa;}
input:focus,textarea:focus {background:#fff; border-color:#999;}
input {vertical-align:middle;}
input[type^="radio"] {border:none; background:none; width:auto;}
::selection {color:#fff; background:#444; text-shadow:none;}
#wrap{background:#fcfbf7 url(images/mainbg.jpg) repeat; border-radius:8px; box-shadow:0 0 10px rgba(0,0,0,1),0 4px 0 rgba(255,255,255,.8),0 5px 0 rgba(100,100,100,.4),0 8px 0 rgba(255,255,255,0.4),inset 0 0 1px rgba(255,255,255,1); width:800px; margin:30px auto; padding:40px 50px;}
#content {overflow:hidden; color:#555; text-shadow:1px 1px #fff; margin-top:30px; margin-bottom:30px; clear:both;}
#header {text-align:center; color:#5d6673;}
#logo {margin:20px auto 10px;}
#logo a {color:#ddd;}
#header h2 {font-size:14px;}
#toolbar {height:24px; font-size:12px;}
#searchform {background:#fafafa; border:1px solid #ccc; border-radius:15px; box-shadow:inset 1px 1px 5px rgba(100,100,100,.3); padding:3px 5px; height:16px; float:right;}
#searchform label {display:none;}
#searchform input {border:none; background:none; box-shadow:none; width:150px; height:16px; line-height:16px; vertical-align:top;}
#searchform button {background:url(images/search.png) no-repeat; width:16px; height:16px; text-indent:-999px; vertical-align:top; border:none; cursor:pointer; margin-left:-5px; font-size:0;}
#searchform button:hover {background:url(images/search_hover.png) no-repeat;}
#rss {float:right; margin-left:8px; margin-top:4px;}
#rss a {background:url(images/rss.png) no-repeat; width:16px; height:16px; overflow:hidden;display:block; text-indent:-999px;}
#menu {float:left; font-size:16px; line-height:30px; height:28px; overflow:hidden;}
#menu li {float:left; margin-right:10px;}
#menu a {display:block; text-decoration:none; color:#999;}
#menu a:hover {color:#5f767f;}
#menu .current {color:#000; font-size:20px; line-height:22px;}
#menu li ul {display:none;}
code {font:14px/1.5 Consolas,"Andale Mono","DejaVu Sans Mono",monospace; border: 1px solid #ccc;border-radius: 5px;padding:2px 4px;color:#C13;  word-break:break-word;}
pre {max-width:100%; overflow:auto; padding:1em; margin-bottom:.5em; line-height:1.6; font-size:15px; border: 1px solid #ccc; border-radius: 5px;}
pre code {padding:0;border:0px;}
pre,code{background:#fafafa;}
#post_list section {border-bottom:1px dashed #bbb; margin-bottom:20px;}
.meta {font-size:12px; margin-bottom:20px; color:#999; display:block;}
#post_content {padding-top:10px;}
.post,.page {font-size:16px;letter-spacing:1px;}
.page h1 {margin-bottom:20px;}
.post {margin-bottom:20px; border-bottom:1px dashed #bbb;}
.post ul,.post ol {list-style-position:inside; margin-left:20px; margin-bottom:15px;}
.post ul {list-style-type:disc;}
.post ol {list-style-type:decimal;}
.post input {height:22px; line-height:22px;}
blockquote {border:1px dashed #ccc; border-radius:5px; background:#fafafa; padding:10px; margin:10px 0; font-size:14px;}
blockquote p:last-child {margin-bottom:0;}
.post img {max-width:630px;}
.page-navigator {margin-top:20px; list-style:none; font-size:12px; height:30px; line-height:30px; clear:both;}
.page-navigator li {margin-right:5px; float:left; display:inline;}
.page-navigator li a {background:#fff; display:block; width:28px; text-align:center; border:1px solid #eee; text-decoration:none; color:#666;}
.page-navigator li a:hover,.page-navigator li.current a {background:#eee; border-color:#ddd; color:#444;}
#nopage {text-align:center; padding:180px 0 100px; background:url(images/404.png) no-repeat center 70px;}
#footer {margin-bottom:30px; text-align:center; font-size:12px; color:#5d6673; text-shadow:-1px -1px #000;}
#footer a {color:#5d6673;}
@media print, screen and (max-width:768px) {
#wrap {margin:0 auto;width:auto}
#toolbar{display:none;}
.post img {max-width:100%; height:auto;}
.post {border:none; box-shadow:none; margin-bottom: 10px;}
.page-navigator {margin: 0px 0px 0px 15px;}
#content{padding-top:30px;}
}